<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <style>
        /*h1 {*/
            /*background: red;*/
        /*}*/
    </style>

    <link rel="stylesheet" type="text/css" media="all"  href="src/main/resources/static/css/greeting.css" />

</head>
<body>

    <img src="http://java4all.in/java/images/spring_big.jpg" height="100px" width="150px" alt="logo"/>

    <h1 style="color:blue;">This is a Blue Heading</h1>
    <h2>This is a Blue Heading</h2>

    <p th:text="'Číslo úvěru: ' + ${d_numaut}"/>

    <p th:text="${d_oslov +' '+ d_klient_os_jmeno +' '+ d_klient_os_prijmeni}"/>

    <p th:text="'First Name: ' + ${d_klient_os_jmeno} + ' ,Last Name: ' + ${d_klient_os_prijmeni}"/>


    <div th:if="${work} == 'false'">
        <span th:text="'Price: ' + ${price_klient}"/> <span th:text="${mena}"/>
    </div>

    <h1>+ěščřžýáíéťďň adam</h1>

    <div th:replace="goodmornig :: goodmornig">...</div>

</body>
</html>